:root {
  color-scheme: light dark;
  font-family: "JetBrains Mono", monospace;

  --ctp-base: light-dark(#eff1f5, #1e1e2e);
  --ctp-mantle: light-dark(#e6e9ef, #181825);
  --ctp-crust: light-dark(#dce0e8, #11111b);
  --ctp-surface-0: light-dark(#ccd0da, #313244);
  --ctp-surface-1: light-dark(#bcc0cc, #45475a);
  --ctp-surface-2: light-dark(#acb0be, #585b70);
  --ctp-text: light-dark(#4c4f69, #cdd6f4);
  --ctp-subtext-0: light-dark(#6c6f85, #a6adc8);
  --ctp-subtext-1: light-dark(#5c5f77, #bac2de);
  --ctp-overlay-0: light-dark(#9ca0b0, #6c7086);
  --ctp-blue: light-dark(#1e66f5, #89b4fa);
  --ctp-lavender: light-dark(#7287fd, #b4befe);
  --ctp-green: light-dark(#40a02b, #a6e3a1);
  --ctp-red: light-dark(#d20f39, #f38ba8);
  --ctp-yellow: light-dark(#df8e1d, #f9e2af);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--ctp-base);
  color: var(--ctp-text);
}
