{% macro show_weather_data(data) %}
  <div class="weather-hero">
    {% if data.url %}<img class="weather-symbol" src="{{ data.url }}" alt="">{% endif %}
    <span class="weather-temperature" dir="auto">{{ data.temperature.l10n(locale=data.location) }}</span>
    <div class="weather-condition">
      <div>{{ _(data.condition.capitalize()) }}</div>
      {% if data.feels_like is not none %}<div class="weather-feels-like">{{ _('Feels Like') }} {{ data.feels_like.l10n(locale=data.location) }}</div>{% endif %}
    </div>
  </div>
  {% if data.wind_speed is not none or data.humidity is not none or data.pressure is not none %}
  <dl class="weather-metrics">
    {% if data.wind_speed is not none %}
    <div><dt>{{ _('Wind') }}</dt><dd dir="auto">{{ data.wind_from.l10n(locale=data.location) }} {{ data.wind_speed.l10n(locale=data.location) }}</dd></div>
    {% endif %}
    {% if data.humidity is not none %}
    <div><dt>{{ _('Humidity') }}</dt><dd dir="auto">{{ data.humidity.l10n(locale=data.location) }}</dd></div>
    {% endif %}
    {% if data.pressure is not none %}
    <div><dt>{{ _('Pressure') }}</dt><dd dir="auto">{{ data.pressure.l10n(locale=data.location) }}</dd></div>
    {% endif %}
  </dl>
  {% endif %}
{% endmacro %}

<div class="weather">
  <div class="weather-location" dir="auto">{{ answer.current.location }}</div>
  {{ show_weather_data(answer.current) }}
  {% if answer.forecasts %}
  <details class="weather-forecast">
    <summary>{{ _('Forecast') }}</summary>
    <ul class="weather-forecast-list">
      {% for forecast in answer.forecasts %}
      <li>
        {% if forecast.datetime %}<div class="weather-forecast-time" dir="auto">{{ forecast.datetime.l10n(locale=answer.current.location, fmt="short") }}</div>{% endif %}
        {{ show_weather_data(forecast) }}
      </li>
      {% endfor %}
    </ul>
  </details>
  {% endif %}
</div>
{% set answer_source = answer.service %}
{% include 'simple/answer/source.html' %}
