<fieldset>{{- '' -}}
  <legend id="pref_theme">{{- _('Theme') -}}</legend>{{- '' -}}
  <div class="value">{{- '' -}}
    <select name="theme" aria-labelledby="pref_theme">{{- '' -}}
      {%- for name in themes -%}
        <option value="{{ name }}"
                {%- if name == theme %} selected="selected"{%- endif -%}>
                {{- ('Catppuccin' if name == 'simple' else name | capitalize) -}}
        </option>
      {%- endfor -%}
    </select>{{- '' -}}
  </div>{{- '' -}}
  <div class="description">
    {{- _('Change the layout of SearXNG') -}}
  </div>{{- '' -}}
</fieldset>{{- '' -}}

<fieldset>{{- '' -}}
  <legend id="pref_simple_style">{{- _('Theme style') -}}</legend>{{- '' -}}
  <div class="value">{{- '' -}}
    <select name="simple_style" aria-labelledby="pref_simple_style">
      {%- for name, label in [('mocha', 'Mocha'), ('latte', 'Latte'), ('frappe', 'Frappé'), ('macchiato', 'Macchiato')] -%}
        <option value="{{ name }}"
                {%- if name == catppuccin_style %} selected="selected" {%- endif -%}>
                {{- label -}}
        </option>
      {%- endfor -%}
    </select>{{- '' -}}
  </div>{{- '' -}}
  <div class="description">
    {{- _('Choose a Catppuccin flavor with lavender accents') -}}
  </div>{{- '' -}}
</fieldset>{{- '' -}}

{%- include 'simple/preferences/center_alignment.html' -%}
